@value makerBalck, makerLightPink, makerLightGrey from '../../common/colors.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.button {
  font-size: 0.8rem;
  font-weight: 700;
  width: 100%;
  border: 0;
  padding: 0.5rem;
  outline: none;
  background-color: makerLightGrey;
  color: makerBalck;
  cursor: pointer;
}
.hasFile {
  background-color: makerLightPink;
  color: makerBalck;
}
.button:hover {
  opacity: 0.8;
}
.input {
  display: none;
}
