@value makerGreen, makerWhite, makerBlack from '../../common/colors.css';

.header {
  width: 100%;
  background-color: makerGreen;
  color: makerWhite;
  text-align: center;
  padding: 0.5rem 0;
  position: relative;
}
.logo {
  width: 3rem;
}
.logout {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: makerBlack;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  color: makerWhite;
  padding: 0.3rem;
  cursor: pointer;
}
