@value makerWhite, makerGreen, makerLightPink from '../../common/colors.css';

.login {
  /* position: sticky;
  top: calc((100vh - 290px) / 2); */
  width: 30rem;
  /* margin: 0 auto; */
  background: makerWhite;
  text-align: center;
}

.label {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}
.buttons {
  width: 100%;
  padding: 0.5em 1em;
  list-style: none;
}
.buttons li {
  margin-bottom: 0.3rem;
}
.button {
  width: 100%;
  outline: none;
  border: 0.15rem solid makerGreen;
  border-radius: 3rem;
  background: none;
  padding: 0.3rem 0;
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: makerLightPink;
}
